@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body {
  font-family: Cormorant, serif;
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin: 0 32px 0 0;
}

.card img:hover {
  opacity: 0.9;
}

.about {
  min-width: 600px;
  width: 40%;
  margin: 100px 0 100px 200px;
}

.about h3 {
  font-size: 40px;
  font-weight: 300;
}

.card h2 {
  display: inline-block;
  font-weight: 300;
  margin: 8px 0 16px 0;
}

.card img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.card {
  width: 49.75%;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px;
}

.contact {
  margin-top: 100px;
}

.contact p {
  margin: 0;
  font-size: 20px;
}

.cta {
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 0;
}

.gallery {
  padding: 16px;
}

.nav-header ul {
  padding: 0;
}

.nav-header {
  display: inline-block;
}

.nav-header li {
  display: inline-block;
}

.nav-header a {
  color: black;
  text-decoration: none;
  font-size: 20 px;
  margin: 0 8px;
}

.navbar {
  margin: 32px;
}

a.active {
  border-bottom: 1px solid black;
}
