@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body {
  font-family: Cormorant, serif;
}

h1 {
  display: inline-block;
}

.nav-header {
  display: inline-block;
}

.nav-header li {
  display: inline-block;
}

.nav-header a {
  color: black;
  text-decoration: none;
  font-size: 20 px;
}
