body {
  font-family: Forum, serif;

  /* clear browser defaults */
  padding: 0;
  margin: 0;
}

.hero {
  background-color: #f08e80;
  min-height: 90vh;
  color: white;
  display: inline-block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 24px 32px;
}

.navbar .links a {
  text-decoration: none;
  margin-right: 16px;
  font-size: 1.2rem;
}

.navbar p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.navbar .contact {
  background-color: white;
  color: #f08e80;
  padding: 16px 24px;
  text-decoration: none;
}

.navbar .contact:hover {
  opacity: 0.8;
}

.hero-content {
  padding: 0 15%;
}

.tagline {
  font-size: 4.5rem;
  letter-spacing: 2px;
  padding: 32px 0;
}

.two-column-section {
  font-size: 2rem;
}

.two-column-section p {
  width: 50%;
  box-sizing: border-box;

  /* don't do this irl, but important to understand */
  float: left;
}

.two-column-section .skills {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

.skills li {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0;
  font-size: 1.25rem;
  margin: 8px 0;
}

.blog-section {
  background-color: white;
  padding: 64px 0;
}

.blog-content {
  padding: 0 15%;
}
