@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;700&family=Mukta:wght@300;400;500;700&display=swap');

body {
  font-family: Mukta, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bitter, serif;
  font-weight: 500;
}

h1 {
  font-size: 80px;
  letter-spacing: -1.5px
  font-weight: 400
}

h2 {
  font-size: 50px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 38px;
  letter-spacing: 0;
}

h4 {
  font-size: 30px;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 24px;
  letter-spacing: 0.25px;
}

h6 {
  font-size: 20px;
  letter-spacing: 0.25px;
}

code {
  color: #e95400;
  font-weight: bold
}

.main {
  margin: 0 auto;
  max-width: 900px;
  border: 1px solid red;
  padding: 32px;
}

.main h3 {
  text-transform: capitalize;
}

.info {
  font-family: Bitter, serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.info span {
  color: #e95400;
  letter-spacing: 1.5px;
}

.headline {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0px;
  margin: 40px 0;
  font-size: 18px;
}

.quote {
  font-style: italic;
  font-size: 14px;
  border-left: 2px solid #e95400;
  padding-left: 16px;
  margin-top: 32px 0 32px 32px;
}

.quote cite {
  display: block;
  font-weight: bold;
  margin-left: 20px;
}

